<div class="login-wrap d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="card mt-auto mb-auto">
      <div class="card-header">Sign-up</div>
      <div class="card-body">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="name@example.com"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" />
        </div>

        <div class="mb-3">
          <label for="confirm" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="confirm" />
        </div>
        <div
          class="
            btns
            d-flex
            flex-direction-row
            align-items-center
            justify-content-end
          "
        >
          <a routerLink="/home" class="signup btn btn-primary">create new</a>
        </div>
      </div>
    </div>
  </div>
</div>
